* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #f1f1f1;
    box-sizing: border-box;
    background-color: #0f0f0f;
    --yt-gray: rgb(48, 48, 48);
    --text-sec: rgb(170, 170, 170);
}


nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.25rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav>div {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

nav i {
    font-size: 1.5rem;
}

nav button {
    border: none;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.logo>i {
    font-size: 1rem;
    padding: 0.1rem 0.5rem;
    background-color: red;
    border-radius: 6px;
}

.logo>h2 {
    font-size: 1.25rem;
}

.searchbar-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.searchbar-container form {
    padding: 0.25rem 0 0.25rem 2rem;
    display: flex;
    align-items: center;
}

.las.la-search {
    padding: 0.4rem 1rem;
    background-color: var(--yt-gray);
    border: none;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.las.la-search:hover {
    cursor: pointer;
}

#searchbar {
    width: 30rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 1px solid var(--yt-gray);
    border-radius: 1rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.nav-btn>i {
    padding: 0.5rem;
    border-radius: 100%;
}

.nav-btn>i:hover {
    background-color: var(--yt-gray);
    cursor: pointer;
}

.voice-srch>i,
.las.la-user {
    background-color: var(--yt-gray);
}

/* Main Content starts here */

main {
    margin-top: 3.25rem;
    padding: 1.5rem 6.5rem;
    display: flex;
    gap: 1.5rem;
}

/* main video */
.video {
    object-fit: cover;
}

.video>iframe {
    width: 100%;
    box-shadow: 0 0 1.5rem 0.5rem var(--yt-gray);
}

/* Vid Title + action buttons */

.video-info {
    padding: 0.5rem 0;
}

.video-info>h2 {
    margin-bottom: 0.25rem;
    font-size: 1.25rem;
    font-weight: 500;
}

.vid-actions {
    padding-bottom: .8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.channel {
    display: flex;
    align-items: center;
    gap: .88rem;
}

.profile-pic,
.profile-pic>img {
    border-radius: 100%;
    width: 2.5rem;
}

.channel-meta>p {
    font-size: 0.8rem;
    color: var(--text-sec);
}

.vid-act-btn {
    padding: 0.5rem 1rem;
    background-color: var(--yt-gray);
    border-radius: 1rem;
    text-decoration: none;
}

.vid-act-btn>i {
    background-color: transparent;
}

.vid-act-btn:hover {
    background-color: rgb(78, 78, 78);
    cursor: pointer;
}

.vid-act-btn-alt {
    color: var(--yt-gray);
    background-color: #f1f1f1;
}

.vid-act-btn-alt:hover {
    background-color: rgb(221, 221, 221);
}

.vid-act-btn-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.likes-container {
    display: flex;
    align-items: center;
}

.vid-act-btn.alt-l {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.vid-act-btn.alt-r {
    border-left: 1px solid rgb(78, 78, 78);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.vid-act-btn.alt {
    padding: 0.5rem
}

.vid-details {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    background-color: var(--yt-gray);
    border-radius: 0.8rem;
}

.vid-details h4,
.vid-details span {
    background-color: transparent;
}

.vid-details p {
    margin: 0.5rem 0 1.5rem;
    background-color: transparent;
}

.vid-details a {
    color: #3ea6ff;
    background-color: transparent;
}

/* Comments section */
.comments-section {
    padding: 1rem 0;
}

.comm-filter {
    display: flex;
    align-items: center;
    gap: 2rem;
}

/* Add comment */
.comm-add {
    margin: 1.5rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.comm-add i {
    padding: 0.5rem;
    border-radius: 100%;
}

.comm-add-meta {
    width: 100%;
    padding-bottom: 0.4rem;
    border-bottom: 1px solid var(--yt-gray);
}

.comm-add-meta>p {
    font-size: 0.8rem;
    color: var(--text-sec);
}

/* Displayed comments */
.displayed-comm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.comm-container {
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
}

.comm-name-date {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.88rem;
}

.comm-name-date>span {
    font-size: 0.75rem;
    color: var(--text-sec);
}

.comm-meta>p {
    margin: 0.5rem 0 1rem;
    font-size: 0.88rem;
}

.comm-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.comm-actions>button {
    padding: 0.25rem;
    border: none;
    border-radius: 100%;
}

.comm-actions button:hover {
    background-color: var(--yt-gray);
    cursor: pointer;
}

.comm-actions i {
    font-size: 1.5rem;
    background-color: transparent;
    border-radius: 1rem;
}

.comm-actions span {
    padding: 0.5rem;
    font-size: 0.75rem;
    border-radius: 1rem;
}

.comm-actions span:hover {
    background-color: var(--yt-gray);
    cursor: pointer;
}

/* Side content */

.tags {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0.5rem 0 1.25rem;
}

.tags>span {
    padding: 0.5rem 1rem;
    font-size: .88rem;
    background-color: var(--yt-gray);
    border-radius: .5rem;
}

.side-content {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.thumbnail-container {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.thumbnail-img-container {
    object-fit: contain;
    border-radius: 6px;
}

.thumbnail-img-container>img {
    border-radius: 6px;
}

.thumbnail-meta>h3 {
    font-size: .88rem;
    margin-bottom: 0.5rem;
}


.meta-text-up p,
.meta-text-bottom p {
    font-size: .75rem;
    color: var(--text-sec);
}

.meta-text-bottom {
    margin-top: 0.25rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}